
html {
	height: 100%;
}

body {
	height: 100%;
}

#chatWidget {
    width: 600px;
    height: 100%;
    margin: 0px auto;
    border-style: ridge;
    border-width: 1px;  
    border-color: #00CC99;
    position: relative;
}

#enterContainer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.center {
    width: 100%;
    margin: 0px auto;
}

#chatform {
    width: 100%;
}

#messagesContainer {
    height: 85%;
    overflow-y: scroll;
}

.entry {
    border-style: solid;
    border-bottom-width: 1px;  
    border-color: #909090;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}

#input {
    width: 88%;
    max-height: 200px;
}

#enterMessage {
    width: 90%;
    margin: auto;
}

#sendButton {
    float: right;
}











