/*General CSS*/
html	{
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Quicksand', sans-serif;
/*	background-color: #0B6121;*/
	height: 100%;
	width: 100%;
}

.page {
	width: 100%;
	min-width: 320px;
	height: 100%;
	margin: auto auto;
	display: block;
	position: relative;
	/*border-radius: 10px;*/
	background-color: white;
	/*box-shadow: 0px 0px 8px 0px #000000;*/
}

#login, #groups, #addgroup, #chat {
	height: 100%;
	width: 100%;
}

/*.title {
	font-size: 70px;
	text-align: left;
	padding-top: 0px;
	padding-left: 5px;
	padding-bottom: 20px;
	padding: 20px 0px 20px 20px;
	text-shadow: 2px 2px white;
}*/

li {
	margin: 0px;
	display: inline-block;
}

/*Used for the Top Bar*/
.bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	height: auto;
	/*width: 1098px;*/
	/*text-align: left;*/
	/*padding-top: 15px;*/
	/*box-shadow: 0px 0px 8px 0px #000000;*/
}

.bar {
	display: block;
	z-index: 1;
	position: fixed;
	width: 100%;
	background-color: #23BF00;
	text-align: center;
}

.bottomBar {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: #23BF00;
}

#addGroupButton, #createGroupButton {
	display: inline-block;
	font-size: 15px;
	padding: 5px;
	background-color: black;
	color: white;
	border-radius: 5px;
}

#plusSign {
	background-image: url('plus.png');
	background-size: 38px 38px;
	display: inline-block;
	float: right;
	width: 38px;
	height: 38px;

}

#logo {
	font-size: 40px;
	text-align: center;
	padding: 5px 0px;
	font-weight: bold;
	text-shadow: 2px 2px white;
}

.content .Title	{
	font-size: 40px;
	margin: 10px;
	text-align: center;
}

.content 	{
	position: absolute;
	/*padding: 150px 0px 30px 0px;*/
	top: 50px;
	bottom: 0;
	width: 100%;
	text-align: center;
	margin: auto auto;
}

[type="submit"],[name="Submit2"],.button	{
	font-size: 18px;
	margin: 20px 0;
	padding: 5px;
	border-radius: 5px;
	/*background-color: #1e90ff;*/
	background-color: #23BF00;
	color: #f5f5f5;
}

#Login	{
	/*display: inline;*/
	position: absolute;
	top: 10%;
	width: 100%;
	/*height: 40%;*/
	/*padding-bottom: 20px;*/
	margin: auto auto;
}

#SignUp {
	display: none;
	position: absolute;
	top: 10%;
	width: 100%;
	/*height: 60%;*/
	margin: auto auto;
}

/*Sign Up Page*/
#signup_form {
	font-size: 15px;
	/*margin-left: 20px;*/
}

 /*Groups Page */

.groups_page	{
	margin-left: 12.5%;
	width: 75%;
	height: 40%;
	margin-top: 40px;
}

#listOfGroups	{
	text-align: left;
	font-size: 10px;
}

#listOfGroups li 	{
	border: 1px solid black;
	background-color: rgba(153, 255, 255, .2);
	border-bottom-color: green;
	display: block;
	margin: 3px 0;
}

#listOfGroups	{
	list-style-type: default;
	margin-left: 5px;

}
/*Add Group Page*/
#createGroupForm 	{
	margin-top: 40px;
	width: 75%;
	margin-left: 12.5%;
	height: 50%;
}

#groupName	{
	font-size: 20px;
	width: 50%;
	margin: 20px;
}

#listOfUsers li 	{
	border: 1px solid black;
	background-color: rgba(153, 255, 255, .2);
	border-bottom-color: green;
	display: block;
	margin: 3px 0;
	text-align: left;
	font-size: 10px;
}

#backButton {
	float: left;
}


#groups {
	display: none;
}

#addgroup {
	display: none;
}

#event {
	display: none;
}

#eventLog {
	display: none;
}

#map {
	display: block;
	height: 100%;

}

#chat {
	display: none;
	height: 100%;
}

.groupEntry {
	display: block;
}


/*Chat Page*/
/*
#chatWidget {
    height: 100%;
    position: relative;
}*/

#enterContainer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.chatEntry {
	display: block;
}

.center {
    width: 100%;
    margin: 0px auto;
}

#chatform {
    width: 100%;
}

#chatBar {
	height: 30px;
	background-color: #00CC66;
	padding-top: 5px;
	position: relative;
}

.chatBarButton {
	background-color: #00CC66;
	height: 30px;
	display: inline;
}

#goToMap {
	float: right;
}

#chatBarTitle {
	height: 30px;
	text-align: center;
	font-weight: bold;
	display: inline;
	margin-left: 150px;
	margin-right: 150px;
}

.chatMsgUser {
	text-align: left;
	padding: 2px;
	padding-left: 5px;
	font-size: 16px;
	font-weight: bold;
}

#messagesContainer {
    height: 85%;
    overflow-y: scroll;
}

.entry {
    border-style: solid;
    border-bottom-width: 1px;  
    border-color: #909090;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}

#input {
    width: 88%;
    max-height: 200px;
}

#enterMessage {
    width: 90%;
    margin: auto;
}

#sendButton {
    float: right;
}

.tab {
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	width: 45%;
	padding-top: 5px;
	padding-bottom: 5px;
	border-style: solid;
	border-color: black;
	border: 2px;
}

#logo {
	margin: 0;
}

.eventEntry {
	text-align: left;
	padding: 10px;
}

.pop_up {
	height: 0;
}

.true {
	background-color: #99FFCC;

}

#map-canvas {
	height: 100%;
}

.alert {
	color: red;
}

