/*General CSS*/
html	{
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Quicksand', sans-serif;
/*	background-color: #0B6121;*/
	height: 100%;
	width: 100%;
	/*overflow: none;*/
}

.page {
	width: 100%;
	min-width: 320px;
	height: 100%;
	margin: auto auto;
	display: block;
	position: relative;
	/*border-radius: 10px;*/
	background-color: white;
	/*box-shadow: 0px 0px 8px 0px #000000;*/
}

#login, #groups, #addgroup, #chat {
	height: 100%;
	width: 100%;
}

/*.title {
	font-size: 70px;
	text-align: left;
	padding-top: 0px;
	padding-left: 5px;
	padding-bottom: 20px;
	padding: 20px 0px 20px 20px;
	text-shadow: 2px 2px white;
}*/

li {
	margin: 0px;
	display: inline-block;
}

/*Used for the Top Bar*/
.bar {
	display: block;
	z-index: 1;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #23BF00;
	text-align: center;
}

#logo {
	font-size: 30px;
	text-align: center;
	display: inline-block;
	line-height: 1.4em;
	margin: 0px;
	padding: 0px 0px;
	font-weight: bold;
	text-shadow: 2px 2px white;
}

.content .Title	{
	font-size: 40px;
	margin: 7.5% 0px;
	text-align: center;
}

.content 	{
	position: fixed;
	/*padding: 150px 0px 30px 0px;*/
	top: 40px;
	bottom: 40px;
	width: 100%;
	text-align: center;
	margin: auto auto;
	overflow-y: scroll;
}

#login .content	{
	bottom: 0px;
}

[type="submit"],[name="Submit2"],.button	{
	font-size: 15px;
	margin: 20px 0;
	padding: 5px;
	border-radius: 5px;
	/*background-color: #1e90ff;*/
	background-color: #23BF00;
	color: white;
}

#LoginForm	{
	/*display: inline;*/
	position: fixed;
	top: 40px;
	width: 100%;
	/*height: 40%;*/
	/*padding-bottom: 20px;*/
	margin: auto auto;
}

.loginTextbox,.signupTextbox	{
	width: 75%;
	margin: 2.5px;
	font-size: 20px;
}

#LoginButtons input, #SignupButtons	input {
	margin: 5px;
}

#signupButton	{
	background-color: black;
	color: white;
}

.bottomBar {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: #23BF00;
}

#addGroupButton, #createGroupButton {
	display: inline-block;
	font-size: 15px;
	padding: 5px;
	background-color: black;
	color: white;
	border-radius: 5px;
}

#plusSign {
	background-image: url('plus.png');
	background-size: 38px 38px;
	display: inline-block;
	float: right;
	width: 38px;
	height: 38px;
}


/*Sign Up Page*/
#SignUp {
	display: none;
	position: fixed;
	top: 40px;
	width: 100%;
	/*height: 60%;*/
	margin: auto auto;
}

#signup_form {
	font-size: 15px;
	/*margin-left: 20px;*/
}

#BackToLogIn	{
	background-color: red;
	color: black;

}

 /*Groups Page */

.groups_page	{
	margin-left: 12.5%;
	width: 75%;
	margin-top: 2.5%;
	padding-bottom: 10px;
}

#listOfGroups	{
	text-align: left;
	font-size: 10px;
	list-style-type: default;
	border-left: 5px;
}

#listOfGroups li 	{
	border: 1px solid black;
	background-color: rgba(153, 255, 255, .2);
	display: block;
	margin: 3px 0;
}

/*Add Group Page*/
#createGroupForm 	{
	margin-top: 40px;
	width: 75%;
	margin-left: 12.5%;
	height: 50%;
}

#groupName	{
	font-size: 20px;
	width: 50%;
	margin: 20px;
}

#listOfUsers div 	{
	font-size: 17px;
}

#listOfUsersDiv	{
	height: 75%;
}

#listOfUsers {
	height: 100%;
	overflow-y: scroll;
	width: 75%;
	margin: 0 12.5%;
}

#listOfUsers li 	{
	border: 1px solid black;
	background-color: rgba(153, 255, 255, .2);
	border-bottom-color: green;
	display: block;
	margin: 3px 0;
	text-align: left;
	font-size: 10px;
}

#backButton	{
	position: absolute;
	/*float: left;*/
	/*margin: 8px;*/
	left: 5px;
	top: 3px;
	margin: 0;
	background-color: black;
}

/*#addgroup #logo, #emptyFloat {
	float: right;
	width: 33%;
	display: inline-block;
}*/

#groups {
	display: none;
}

#addgroup {
	display: none;
}

#chat {
	display: none;
}

#event {
	display: none;
}

#eventLog {
	display: none;
}

#map {
	display: block;
	height: 100%;

}

#chat {
	display: none;
	height: 100%;
}

.groupEntry {
	display: block;
}


/*Chat Page*/
#chat .content	{
	top: 50px;
	bottom: 75px;
}

#chatLoadButton	{
	font-size: 12px;
	margin: 20px 0;
	padding: 5px;
	border-radius: 5px;
	border: 2px solid green;
	background-color: black;
	color: white;
}

#chatFooter {
	border-top: 1px solid black;
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
    background-color: white;
}

.chatEntry {
	display: block;
}

.center {
    width: 100%;
    margin: 0px auto;
}

#chatform {
    width: 100%;
}

#backToGroups	{
	float: left;
	display: inline;
	background-image: url("Group.png");
	background-size: 30px;
	height: 30px;
	width: 30px;
	margin: 10px 0 10px 15px;
}

#goToMap	{
	float: right;
	display: inline;
	background-image: url("Earth.png");
	background-size: 30px;
	height: 30px;
	width: 30px;
	margin: 10px 15px 10px 0;
}

#goToMap {
	float: right;
}

#chatBarTitle {
	height: 30px;
	font: 30px bold;
	display: inline-block;
	text-align: center;
	line-height: 1.4em;
	margin: 0px;
	padding: 2px 0px;
	text-shadow: 2px 2px white;
}

.chatMsgUser {
	text-align: left;
	padding: 2px;
	padding-left: 5px;
	font-size: 16px;
	font-weight: bold;
}

#input {
	width: 80%;
    max-height: 200px;
}

#enterMessage {
    width: 90%;
    margin: 10px;
}

#sendButton {
	margin: 0;
	padding: 0;
	border-radius: 0;
	background-image: url("check-icon.png");
    float: right;
    background-size: 40px;
    border: none;
    background-color: transparent;
    width: 41px;
    height: 40px;
}

.entry {
    border-style: solid;
    border-bottom-width: 1px;  
    border-color: #909090;
}

.tab {
	display: inline-block;
	/*float: left;*/
	margin: 4px 7.6%;
}

#backToChat	{
	background-image: url('message-icon.png');
	float: left;
	background-size: 30px;
	height: 30px;
	width: 30px;
}

#eventAdder #form {
	top: 10px;
	margin: 10px 0px;
	font-size: 20px;
	line-height: 1.5;
}

#membersTab	{
	background-image: url('members.png');
	float: left;
	background-size: 31px;
	height: 30px;
	width: 30px;
}

#mapTab	{
	background-image: url('Earth.png');
	float: left;
	background-size: 28px;
	height: 28px;
	width: 28px;
}

#logTab	{
	background-image: url('log.png');
	float: left;
	background-size: 25px 25px;
	height: 25px;
	width: 25px;
}

.eventEntry {
	text-align: left;
	padding: 10px;
}

.pop_up {
	height: 0;
}

.true {
	background-color: #99FFCC;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}


#map-canvas {
	position: absolute;
	top: 40px;
	bottom: 0;
	width: 100%;
}

#listOfEvents	{
	max-height: 100%;
	overflow-y: scroll;
	text-align: left;
	width: 80%;
	margin: 0 12.5%;
	padding: 0;
}

#eventLogTitle	{
	margin-top: 10px;
	margin-bottom: 0px;
}

#eventLog h2	{
	margin-top: 0px;
	font-size: 10px;
	font-style: italic;
	font-weight: normal;
	color: #2F4F4F;
}

.alert {
	color: red;
}

/*Settings Page*/
#Settings {
	display: none;
}

#settingsPage {
	padding: 10px, 10px;
	font-size: 20px;
}
.info {
	padding: 10px;
}

#membersPage .content	{
	bottom: 0;
}

#listOfMembers, #listOfAllUsers	{
	max-height: 60%;
	overflow-y: scroll;
	text-align: center;
	width: 75%;
	margin: 0 12.5%;
	padding: 0;
}

#addMembersBack	{
	background-color: red;
}

#listOfMembers li, #listOfAllUsers li, #listOfEvents li {
	overflow: hidden;
	margin: 2px 0;
	border: 1px solid black;
	background-color: rgba(153, 255, 255, .2);
	display: block;
}

#listOfEvents	{
	font-size: smaller;
}

#backToMapButton {
	background-color: black;
	color: white;
	margin: 5px;
}

.block {
	display: block;
}
