/*General CSS*/
html	{
	height: 100%;
}

body {
	font-family: 'Quicksand', sans-serif;
/*	background-color: #0B6121;
*/	height: 100%;
}

.pop_up {
	height: 0;
}

.true {
	background-color: #99FFCC;

}

.userEntry {
	background-color: #99FFFF;
	border-style: solid;
	border-bottom: 1px;
	border-bottom-color: green;
	display: block;
}

#map-canvas {
	height: 100%;
}

.page {
	width: 1098px;
	/*margin-left: auto;
	margin-right: auto;*/
	margin: auto;
	/*height: 95%;*/
	display: block;
	position: relative;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0px 0px 8px 0px #000000;
}

.alert {
	color: red;
}

/*.title {
	font-size: 70px;
	text-align: left;
	padding-top: 0px;
	padding-left: 5px;
	padding-bottom: 20px;
	padding: 20px 0px 20px 20px;
	text-shadow: 2px 2px white;
}*/

li {
	margin: 0px;
	display: inline-block;
}

h1	{
	margin-right: 80px;
}

/*Used for the Top Bar*/
#bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	height: auto;
	width: 1098px;
	text-align: left;
	/*padding-top: 15px;*/
	box-shadow: 0px 0px 8px 0px #000000;
	background-color: #23BF00;
}

#bar {
	display: block;
	z-index: 1;
	position: fixed;
	border-radius: 10px;
	padding-bottom: 20px;
}

#logo {
	font-size: 70px;
	text-align: left;
	/*padding-top: 0px;
	padding-left: 5px;
	padding-bottom: 20px;*/
	padding: 20px 0px 20px 20px;
	text-shadow: 2px 2px white;
}

.index h2	{
	/*font-size: 50px;*/
	text-align: center;
	margin: 10px;
	margin-top: 20px;
}



.content .title	{
	font-size: 30px;
	margin-bottom: 10px;
}

.content 	{
	padding: 150px 0px 30px 40px;
	text-align: center;
	margin: auto auto;
}



#Login	{
	/*display: inline;*/
	padding-bottom: 20px;
	border-bottom: 2px solid #000000;
}

[type="submit"]	{
	font-size: 18px;
	margin: 20px 0;
	padding: 5px;
	border-radius: 5px;
	/*background-color: #1e90ff;*/
	background-color: #23BF00;
	color: #f5f5f5;
}





/*Sign Up Page*/
#signup_title {
	font-size: 50px;
	text-align: center;

}

#signup_form {
	font-size: 15px;
	/*margin-left: 20px;*/
}



/*Add Event Page*/
#addEvent_title {
	font-size: 50px;
	position: relative;
}

.groups_page {
	text-align: left;
}

#login {

}

#groups {
	display: none;
}

#addgroup {
	display: none;
}

#event {
	display: none;
}

#chat {
	display: none;
	height: 100%;
}

.groupEntry {
	display: block;
}


/*Chat Page*/

#chatWidget {
    width: 600px;
    height: 100%;
    margin: 0px auto;
    border-style: ridge;
    border-width: 1px;  
    border-color: #00CC99;
    position: relative;
}

#enterContainer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.chatEntry {
	display: block;
}

.center {
    width: 100%;
    margin: 0px auto;
}

#chatform {
    width: 100%;
}

#chatBar {
	height: 30px;
	background-color: #00CC66;
	padding-top: 5px;
	position: relative;
}

.chatBarButton {
	background-color: #00CC66;
	height: 30px;
	display: inline;
}

#goToMap {
	float: right;
}

#chatBarTitle {
	height: 30px;
	text-align: center;
	font-weight: bold;
	display: inline;
	margin-left: 150px;
	margin-right: 150px;
}

#messagesContainer {
    height: 85%;
    overflow-y: scroll;
}

.entry {
    border-style: solid;
    border-bottom-width: 1px;  
    border-color: #909090;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}

#input {
    width: 88%;
    max-height: 200px;
}

#enterMessage {
    width: 90%;
    margin: auto;
}

#sendButton {
    float: right;
}




